  <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
  <dict>
    <key>Label</key>
    <string>acacia</string>
    <key>ProgramArguments</key>
    <array>
       <string>/Users/sergeyshteyn/.virtualenvs/acacia_env/bin/python</string>
      <string>/Users/sergeyshteyn/dev/share-dev/projects/acacia/splash.py</string>
      <string>/Users/sergeyshteyn/pics</string>
    </array>
    <key>StartInterval</key>
    <integer>86400</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/acacia.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/acacia.out</string>
  </dict>
  </plist>